body {
  margin: 0;
}

h1 {
  font-family: "Noto Serif JP", serif;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 10rem;
}

.mt-0 {
  margin-top: 0;
}

h2 {
  font-size: 32px;
  margin-top: 0.25rem;
}

.text-center {
  text-align: center;
}

.font-blue {
  color: #3b3863;
}

.font-orange {
  color: #f8a18f;
}

.font-grey {
  color: #dedede;
}

.mt-5 {
  margin-top: 5rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.75rem;
  font-size: 20px;
}

.bg {
  background-image: url("./assets/cropped-bg.jpg");
  background-color: #cccccc;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0px 5px 30px #777;
}

.bg-text {
  position: absolute;
  top: 80%;
  left: 3%;
  transform: translate(0%, -50%);
  color: white;
  font-weight: lighter;
}

.bg-text p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.bg-text h1 {
  font-size: 2.5rem;
  margin-top: 0;
}

.action-area {
  margin-top: 4rem;
  text-align: center;
}

.action-area > p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1.25rem;
  color: #aaa;
}

.action-area > div {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}

.current-btn {
  color: white;
  background: #3b3863;
  border: none;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  font-weight: 900;
  border-radius: 50px;
}

.goal-btn {
  color: white;
  background: #f8a18f;
  border: none;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  font-weight: 900;
  border-radius: 50px;
}

.btn-label {
  color: black;
  font-style: normal;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.dashboard-btn {
  color: white;
  background: #3b3863;
  border: none;
  padding: 1.25rem 3rem;
  border-radius: 50px;
  display: block;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.progress-status {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 3rem;
}

.percent {
  font-size: 8rem;
}

.container {
  margin: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 1rem;
  align-items: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 1rem;
  align-items: center;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.badges-section > div {
  display: flex;
  align-items: flex-start;
}

.badges-section img {
  height: 14rem;
  width: auto;
}

.triangle {
  margin-left: 2rem;
  width: 0;
  height: 0;
  border-bottom: 40px solid transparent;
  border-left: 40px solid white;
  box-shadow: -6px -3px 10px -2px rgba(0, 0, 0, 0.075);
  margin-right: -1.25rem;
  transform: rotate(-45deg);
}

.speech {
  display: flex;
  align-items: center;
}

.speech .text {
  padding: 1.5rem 3rem;
  box-shadow: 0px 0.125rem 0.25rem 3px rgba(0, 0, 0, 0.075);
}

.progress-section {
  margin-top: 10rem;
}

.flex {
  display: flex;
  align-items: center;
}

.cards {
  margin-left: 2rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.right-arrow {
  height: 100px;
}

.cards > div > img {
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
  padding: 1rem;
  box-shadow: 0px 0.125rem 0.25rem 3px rgba(0, 0, 0, 0.075);
}

.dark-card > img {
  background: #3b3863;
}

.dark-card {
  position: absolute;
  margin-left: 35rem;
  margin-top: 10rem;
}

@media only screen and (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .dark-card {
    position: relative;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .percent {
    font-size: 5rem;
  }

  .cards > div > img {
    height: 120px;
    width: 120px;
    display: block;
    margin: auto;
  }

  .cards > div {
    text-align: center;
  }

  .bg-text h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .speech .text {
    padding: 1.5rem;
  }
  .triangle {
    margin-left: 1rem;
  }

  .current-btn,
  .goal-btn {
    font-size: 1rem;
    padding: 1.25rem;
  }

  .right-arrow {
    height: 50px;
  }
}
